.menu{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    border-bottom:  $menu-border-width solid $menu-border-color;
    box-shadow: $menu-box-shadow;
    .menuItem{
        padding: $menu-item-padding-y $menu-item-padding-x;
        transition: $menu-transition;
        cursor: pointer;
        &:hover,&:focus{
            text-decoration: none;
            color: $menu-item-active-color;
            border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
        }
        &.is-disabled{
            color: $menu-item-disabled-color;
            pointer-events: none;
            cursor: default;
        }
        &.is-active,&:hover{
            color: $menu-item-active-color;
            border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
        }
        
    }
}

.menu-vertical{
    flex-direction: column;
    border-bottom: none;
    border-right: $menu-border-width solid $menu-border-color;
    .menuItem{
        border-left: $menu-item-active-border-width solid transparent;
        &:hover,&:focus{
            text-decoration: none;
            color: $menu-item-active-color;
            border-left: $menu-item-active-border-width solid $menu-item-active-color;
        }
        &.is-active,&:hover{
            color: $menu-item-active-color;
            border-left: $menu-item-active-border-width solid $menu-item-active-color;
            border-bottom: 0px;
        }
        
    }
    .submenu-item{
        position: relative;
        .viking-submenu{
            display: none;
            list-style: none;
            padding-left: 0;
            white-space: nowrap;
            .menuItem{
                padding: $menu-item-padding-y $menu-item-padding-x;
                cursor: pointer;
                transition: $menu-transition;
                color: $body-color;
                border-left: none;
                &.is-active, &:hover {
                    color: $menu-item-active-color !important;
                    border-left: none;
                }
            }
        }
        .menu-open{
            display: block;
        }
    } 
}
.menu-horiznotal{
    .menuItem{
        border-bottom: $menu-item-active-border-width solid transparent;
    }
    .viking-submenu{
        // display: none;
        list-style: none;
        padding-left: 0;
        white-space: nowrap;
        position: absolute;
        border: $menu-border-width solid $menu-border-color;
        z-index: 2;
        background-color: #fff;
        top: 3rem;
        box-shadow: 1px 1px 2px 1px $menu-border-color;
        .menuItem{
            padding: $menu-item-padding-y $menu-item-padding-x;
            cursor: pointer;
            transition: $menu-transition;
            color: $body-color;
            border-bottom: none;
            &.is-active, &:hover {
                color: $menu-item-active-color !important;
                border-bottom: none;
            }
        }
    }
    .menu-open{
        // display: block;
    }
}

.submenu-item{
    position: relative;
    .submenu-title{
        display: flex;
        align-items: center;
    }
    .arrow-icon{
        transition: transform .25s ease-in-out;
        margin-left: 3px;
    }
    &:hover{
        .arrow-icon{
            transform: rotate(180deg);
        }
    }
}
.is-vertical{
    .arrow-icon{
        transform: rotate(0deg)!important;
    }
}
.is-opened.is-vertical{
    .arrow-icon{
        transform: rotate(180deg)!important;
    }
}